<div>
  <div>
    <h1 class="text-center">Ingresar Nueva tarea</h1>
    <app-input [(inputValue)]="newTask"></app-input>
    <app-btn typeButton="button" (click)="addNewTask()">Add New Task</app-btn>

    <div>
      @for (task of tasks; track task.id) {
        <div class="text-center bg-red-200 text-white">
          {{ task.id }} - {{ task.description }}
          <select class="border-blue bg-red-200" [(ngModel)]="task.idcategorie">
            <option value=""></option>
            @for (categorie of categories; track categorie.id) {
              <option value="{{ categorie.id }}">
                {{ categorie.description }}
              </option>
            }
          </select>
        </div>
      }
    </div>
  </div>

  <div class="border-black border-2">
    Crear Categoria
    <div class=""></div>
    @for (categorie of categories; track categorie.id) {
      <div class="bg-primary">{{ categorie.description }}</div>
    }
    <app-input [(inputValue)]="newCategorie"></app-input>
    <app-btn typeButton="button" (click)="addNewCategorie()"
      >Add New Task</app-btn
    >
  </div>
</div>
